#header {
	color: rgba(0,0,0,0.8);
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.6em;
	font-weight: 600;
	line-height: 0.97em;
	margin-top: calc(3em + 100px);
	padding: 0;
	text-align: center;
	width: 50%;
}

#header:after {
	background-color: rgba(0,0,0,0.1);
	content: ' ';
	display: block;
	height: 2px;
	margin: 0.5em auto;
	width: 1.5em;
}

#welcomer-blurb {
	display: inline-block;
	margin-bottom: 2em;
	width: 53%;
}

#co-form-container {
	display: block;
	margin-bottom: 45px;
	text-align: center;
	width: 100%;
}

#contact-form {
	display: inline-block;
	max-width: 100%;
	text-align: left;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
	width: 53%;
}

#co-form-name{
	border-radius: 4px;
	border: 2px solid rgba(0,0,0,0.1);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: inline-block;
	font: 1em 'Merriweather', serif;
	margin-bottom: 10px;
	margin-right: 5px;
	padding: 10px;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
	width: 100%;
}

#co-form-email {
	border-radius: 4px;
	border: 2px solid rgba(0,0,0,0.1);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: inline-block;
	font: 1em 'Merriweather', serif;
	margin-bottom: 5px;
	padding: 10px;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
	width: 100%;
}

#co-form-message {
	border-radius: 4px;
	border: 2px solid rgba(0,0,0,0.1);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: inline-block;
	font: 1em 'Merriweather', serif;
	height: 200px;
	margin-bottom: 10px;
	margin-top: 5px;
	max-width: 100%;
	padding: 10px;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
	width: 100%;
}

#co-form-name:hover, #co-form-email:hover, #co-form-message:hover,
#co-form-name:focus, #co-form-email:focus, #co-form-message:focus,
#co-form-name:active, #co-form-email:active, #co-form-message:active {
	border-color: rgba(0,0,0,0.4);
	outline: 0;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

#co-form-submit {
	background-color: rgba(0,0,0,0);
	border-radius: 4px;
	border: 2px solid rgba(0,0,0,0.8);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: rgba(0,0,0,0.9);
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8em;
	font-weight: 700;
	padding: 10px;
	text-transform: uppercase;
	-webkit-transition: all 0.05s linear;
	transition: all 0.05s linear;
	width: 100%;
}

#co-form-submit:hover, #co-form-submit:focus {
	background-color: rgba(0,0,0,0.2);
	outline: 0;
	-webkit-transition: all 0.05s linear;
	transition: all 0.05s linear;
}

#co-form-submit:active{
	background-color: rgba(0,0,0,0.9);
	color: #fff;
	-webkit-transition: all 0.05s linear;
	transition: all 0.05s linear;
}

#submitted{
	border-radius: 4px;
	border: 2px solid rgba(0,0,0,0.2);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: inline-block;
	margin: 30px 0 0 0; 
	min-width: 200px;
	padding: 10px;
	text-align: center;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
	width: 100%;
}

.hidden {
	display: none !important;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

/*---------------------------*/
/* Optimization for Mobile   */
/*---------------------------*/

@media all and (max-width: 800px) {
	#welcomer-blurb {
		width: 70%;
	}

	#contact-form {
		width: 70%;
	}

	#header {
		text-align: center;
		width: 100%;
	}
}

@media all and (max-width: 500px) {
	#welcomer-blurb {
		width: 85%;
	}

	#contact-form {
		width: 85%;
	}

	#header {
		font-size: 2em;
		text-align: center;
		width: 100%;
	}
}