h1 {
	color: rgba(0,0,0,0.8);
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	font-weight: 600;
	line-height: 0.97em;
	margin: 0 auto;
	margin-top: calc(2em + 100px);
	padding: 0;
	text-align: center;
}

#centText {
	margin-top: 2em;
	text-align: center;
	width: 100%;
}

#text {
	display: inline-block;
	width: 53%;
}

#gsc-i-id1 {
	background: transparent !important;
	border-radius: 4px;
	border: 2px solid rgba(0,0,0,0.1) !important;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Merriweather', serif;
	font-size: 1.2em;
	width: 53%;
	padding: 10px !important;
	text-indent: 0 !important;
}

.gsc-search-button, .gsc-clear-button {
	display: none;
}

/*---------------------------*/
/* Optimization for Mobile   */
/*---------------------------*/

@media all and (max-width: 800px) {
	#text, #gsc-i-id1 {
		width: 70%;
	}
}

@media all and (max-width: 500px) {
	#text, #gsc-i-id1 {
		width: 85%;
	}
}