@import url('https://fonts.googleapis.com/css?family=Bitter:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,700');


/*--------------------------------*/
/* Basic Styling                   /
/*--------------------------------*/

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  color: rgba(0,0,0,0.95);
  font-size: 1.05em;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


/*--------------------------------*/
/* Link Styling                    /
/*--------------------------------*/
/*http://benjam.info/blog/posts/2015-01-31-css-underline/#fnref1*/
a, a:visited {
  background-position: 0 1em;
  background-size: 2px 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0,0,0,0)), color-stop(50%, rgba(0,0,0,0.4)));
  background-image: linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.4) 50%);
  background-repeat: repeat-x;
  color: black;
  text-decoration: none;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

a:hover {

  background-color: rgba(0,0,0,0.2);
}

a:active {
  background-color: rgba(0,0,0,0.4);
}

[data-clear-link-decor]{
  background: none;
}

/*--------------------------------*/
/* Top Bar                         /
/*--------------------------------*/

#top-bar {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: white;
  display: block;
  height: 80px;
  margin-left: 15%;
  //margin: 0 auto !important;
  position: fixed;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
  width: 70%;
  z-index: 20;
}

#top-bar-limiter {
  display: block;
  margin: 0 auto;
  max-width: 1320.76px;
  width: 100%;
}

.top-bar-shadow {
  -webkit-box-shadow: 0 12px 20px -20px rgba(0,0,0,0.2);
          box-shadow: 0 12px 20px -20px rgba(0,0,0,0.2);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* Logo */
#logo {
  -webkit-box-shadow: inset 0 0 0 2px rgba(0,0,0,0.8);
          box-shadow: inset 0 0 0 2px rgba(0,0,0,0.8);
  display: inline-block;
  height: 40px;
  margin-top: 20px;
  position: relative;
  width: 40px;
}

#logo > span {
  bottom: 3px;
  color: rgba(0,0,0,0.8);
  font-family: 'Bitter', serif;
  font-size: 1em;
  font-weight: 700;
  left: 5px;
  position: absolute;
}

/*Navigation Links*/
#nav-links {
  display: inline-block;
  float: right;
  margin-top: 9px; 
  padding: 20px 0; 
}

#nav-links > a{
  border-bottom: none;
  border-radius: 3px;
  color: rgba(0,0,0,0.8);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-style: normal;
  font-weight: 700;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

#nav-links > a:last-child {
  margin-right: 0;
}

/*Hamburger Menu*/
#hamburger {
  display: block;
  float: right;
  height: 40px;
  margin-top: 15px;
  position: relative;
  width: 26px;
}

#hamburger > span {
  background-color: rgba(0,0,0,0.8);
  display: block;
  height: 3px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

#hamburger> span:nth-child(1) {
  top: 15px;
}

#hamburger> span:nth-child(2) {
  top: 23px;
}

#hamburger> span:nth-child(3) {
  top: 31px;
}

/*--------------------------------*/
/*  Footer                        */
/*--------------------------------*/

#footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  width: 85%;
  text-align: center;
  color: rgba(0,0,0,0.3);
  margin: 2.5em;
}

#footer > a {
  font-style: normal;
  color: rgba(0,0,0,0.3);
  border-bottom-color: rgba(0,0,0,0.1);
}

#footer > span {
  font-family: monospace;
  font-size: 1.3em;
  font-style: 700;
}

/*--------------------------------*/
/*  Mobile Menu                   */
/*--------------------------------*/

#mobile-menu {
  background-color: white;
  -webkit-box-shadow: 0 22px 20px -20px rgba(0,0,0,0.2);
          box-shadow: 0 22px 20px -20px rgba(0,0,0,0.2);
  display: block;
  margin: 0;
  padding: 10px;
  position: fixed;
  text-align: center;
  top: 80px;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
  width: 70%;
  z-index: 19;
}

#mobile-menu > a {
  border-bottom: none;
  border-radius: 3px;
  color: rgba(0,0,0,0.8);
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-style: normal;
  font-weight: 700;
  padding: 1em 2em;
  text-decoration: none;
  text-transform: uppercase;
}

#shade {
  background-color: rgba(0,0,0,0);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.hidden-menu {
  top: -300px !important;
}

.hidden-shade {
  display: none !important;
}

/*--------------------------------*/
/*  Optimization for mobile        /
/*--------------------------------*/

@media all and (min-width: 800px) {
  [data-show-mobile] {
    display: none !important;
  }
}

@media all and (max-width: 800px) {
  [data-hide-mobile] {
    display: none !important;
  }

  #top-bar, #mobile-menu {
    width: 90%;
  }

  #top-bar {
    margin-left: 5%;
  }

  a {
    background-image: none;
  }
}

@media all and (max-width: 500px) {
  [data-hide-mobile] {
    display: none !important;
  }

  #mobile-menu > a{
    border-radius: 0;
    display: block;
  }

  #top-bar, #mobile-menu {
    width: 100%;
  }

  #top-bar {
    margin-left: 0;
  }

  #logo {
    margin-left: 1em;
  }

  #hamburger {
    margin-right: 1.2em;
  }
}