/*
//   Fonts
*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700i,900&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Oswald:300');


/*
**  Hiding Desktop only stuff
*/

.sidebar {
  display: none;
}

.desktop-content{
	display: none;
}


/*
//   Body
*/

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}


/*
//	TopBar
*/

.mobile-header {
	background: #ffffff;
	box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2);
	display: block;
	height: 60px;
	margin: 0;
	max-width: 100%;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 100;

	-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.scroll-shadow-hide {
	box-shadow: 0 2px 7px 0 rgba(0,0,0,0);
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

#mobile-header-image {
  display: block;
  float: left;
  height: 40px;
  margin: 10px;
  position: relative;
  width: 40px;
}

#mobile-header-button {
  background-color: #ffffff;
  border-style: none;
  color: #28cd91;
  display: block;
  float: right;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  width: auto;
}

#mobile-header-button:focus {
	outline: none;
}

.mobile-header-container {
	display: block;
	position: fixed;
	top:60px;

	margin-bottom: 12px;
	padding: 0px 0;
	width: 100%;

	background-color: #ffffff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  height: auto;
  max-height: 500px;
  opacity: 1;
  z-index: 5;

  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.mobile-header-item a{
	color: #212121;
	display: block;
  font-weight: 900;
	opacity: 1;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.mobile-header-item a:hover {
  background-color: #28cd91;
  color: white; 
}

.mobile-header-item a:link a:visited {
  color: #212121;
}

.mobile-header-item a:active {
  background-color: #12b076;
  color: white;
  text-decoration: none;
}


/* Shade */
.nav-shade {
	background-color: rgba(0,0,0,0); 
	bottom: 0; 
	display: block;
	height: auto;
	left: 0; 
	opacity: 1;
	position: fixed;
	right: 0; 
	top: 0; 
	z-index: 3;
}


/* Animation syle controllers*/

.hide{
	max-height: 0;
	overflow-y: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.fade {
	opacity: 0 !important;
  transition: opacity .6s;
}

.mobile-header-item {
	opacity: 1;
  transition: opacity .6s;
}

.remove-styling {
	border-style: none;
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
  padding: 0px;
}

.remove-shadow-border {
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
	transition: box-shadow 0s linear;
}


/*
**	Content
*/

.content {
	padding: 80px 15px 0 15px;
}