.mobile-spacer {
	display: block;
	height: 100px;
}

#centeredContent {
	align-content: space-around;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.heroImage {
	margin: 0;
	max-width: 1000px;
	min-width: 270px;
	padding: 0;
	width: 40vw;
}

#welcomer {
	border-bottom: 2px dotted rgba(0,0,0,0.1);
	display: inline;
	font: 50px "Oswald", sans-serif;
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
}

#blurb {
	font: italic 18px lato,sans-serif;
	letter-spacing: 0.2px;
	line-height: 150%;
	padding: 0px 5vw 25px 5vw;
}

#skillsList {
	align-content: space-around;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center; 
}


.subheading {
	border-bottom: 2px dotted rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.5);
	font-weight: 700;
	font: 13px lato,sans-serif;
	margin: auto;
	padding: 20px 20px 5px 20px;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}

.lineBreak {
	width: 100%;
}
