#title:before {
	color: rgba(0,0,0,0.2);
	content:'§ ';
}

.post-list{
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 25px 0;
}

.post-list-body {
	display: block;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin: 0;
	width: 68%;
}

.post-list-heading a{
	-webkit-box-shadow: inset 0 -1px white, inset 0 -3px rgba(0,0,0,0);
	        box-shadow: inset 0 -1px white, inset 0 -3px rgba(0,0,0,0);
	color: rgba(0,0,0,0.75);
	display: inline-block;
	font-weight: 700;
	font: 18px 'Bitter',serif;
	text-shadow: -2px -2px white, -2px 2px white, 2px -2px white, 2px 2px white;
	text-transform: uppercase;
}

.post-list-heading a:hover {
	background-color: white;
	-webkit-box-shadow: inset 0 -1px white, inset 0 -3px #0ca96f;
	        box-shadow: inset 0 -1px white, inset 0 -3px #0ca96f;
	color: rgba(0,0,0,0.95);
	text-shadow: -2px -2px white, -2px 2px white, 2px -2px white, 2px 2px white;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.comment-count {
	color: rgba(0,0,0,0.6) !important;
	font-style: italic;
}

.comment-count:after {
	content:": ";
}

.comment-count:hover {
	color: rgba(0,0,0,1) !important;
}

.post-list-time {
	color: rgba(0,0,0,0.6);
	font-style: italic;
}

.post-list-time:after {
	content: ", ";
}

.post-list-content {
	margin-top: 10px;
}

.post-list-blurb {
	line-height: 1.4em;
	min-height: 5px;
}

.post-list-readmore {
	border-bottom: 2px solid rgba(0,0,0,0);
	display: inline-block;
	font-weight: 700;
	font: 14px 'Bitter', serif;
	margin-top: 10px;
	text-transform: uppercase;
	-webkit-transition: all 0.05s linear;
	transition: all 0.05s linear;
	-webkit-transition: border-bottom 0.2s linear;
	transition: border-bottom 0.2s linear;
}

.post-list-readmore:hover {
	background-color: white;
	border-bottom: 2px solid #0ca96f;
	-webkit-transition: border-bottom 0.2s linear;
	transition: border-bottom 0.2s linear;
}

.post-list-readmore:active {
	background-color: #12b076;
	color: rgba(0,0,0,0.7);
	-webkit-transition: all 0.05s linear;
	transition: all 0.05s linear;
}

.list-nav-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	font: 13px "Bitter", serif;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.list-button {
	border-radius: 3px;
	border: 2px solid #12b076;
	display: block;
	font-weight: 700;
	padding: 10px;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.list-button:hover {
	background-color: #12b076;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: #fff;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.list-button:active {
	background-color: #12b076;
	-webkit-box-shadow: 0px 3px 8px rgba(0,0,0,0.4);
	        box-shadow: 0px 3px 8px rgba(0,0,0,0.4);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: #fff;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.lb-prev {
	margin-left: 120px; 
}

.lb-next {
	margin-left: auto;
}

@media all and (max-width: 984px) {

.post-list-readmore {
	-ms-flex-item-align: end;
	    align-self: flex-end;
	margin-left: -6px;
	padding: 10px 10px 10px 0;
	text-align: center;
	width: 100%;
}

article {
	border-top: 2px dotted rgba(0,0,0,0.1);
	margin-top: 10px;
	padding-top: 20px;
}
article:first-of-type {
	border-top: none;
	padding-top: 40px;
}   

.post-list-image {
	border-radius: 50%;
	display: block;
	height: 100px;
	margin: 15px auto;
	padding: 0 20px;
	width: 100px;
}

.post-list-body {
	padding: 0 15px;
}

.post-list-details {
	display: none;
}

.post-list-heading {
	display: block;
	margin-bottom: -10px;
	text-align: center;
}

.lb-prev {
	margin-left: 0; 
}

}

@media all and (min-width: 985px) {
    
.post-list-image {
	border-radius: 50%;
	display: block;
	height: 100px;
	margin: 15px 35px 10px -15px;
	width: 100px;
}

}