/*--------------------------------*/
/*  Series                         /
/*--------------------------------*/
#series-container {
	background-color: rgba(0,0,0,0.03);
	border-radius: 4px;
	border: 2px solid rgba(0,0,0,0.1);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: block;
	line-height: 1.2em;
	margin: 0.5em 0 0 0;
	padding: 1em;
	width: 53%;
}

#series-container > span {
	display: block;
	color: rgba(0,0,0,0.8);
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-bottom: 0.5em;
}

#series-container > span > a {
	border: none;
	font-style: normal;
	text-transform: capitalize;
}

#series-container > span:after {
	background-color: rgba(0,0,0,0.1);
	content: ' ';
	display: block;
	height: 2px;
	margin: 0.7em 0 1em 0;
	width: 4em;
}

#series-container > ul {
	list-style: none;
	margin-bottom: 0.6em;
	margin-left: -2.2em;
	margin-top: 0.3em;
	width: 100%;
}

#series-container > ul > li {
	margin-bottom: 0.5em;
	width: 100%;
}

#series-container > ul > li:last-child {
	margin-bottom: 0;
}

#series-container > ul > li > a{
	border-color: rgba(0,0,0,0.1);
	font-style: normal;
	margin-left: 0.5em;
	text-transform: capitalize;
}

/*--------------------------------*/
/*  Tags                           /
/*--------------------------------*/

.post-tags:before {
	background-color: rgba(0,0,0,0.1);
	content: ' ';
	display: block;
	height: 2px;
	margin: 1em auto 1em auto;
	width: 4em;
}

.post-tags {
	color: rgba(0,0,0,0.4);
	display: block;
	margin: 0 auto;
	max-width: 53%;
}

.post-tags > a {
	border: none;
	color: rgba(0,0,0,0.4);
}

.post-tags > a:hover {
	color: rgba(0,0,0,0.8);
}

.post-tags > a:active {
	color: black;
}

.post-tags > a:after {
	content: ', '
}

.post-tags > a:last-child:after {
	content: ' ';
}

/*--------------------------------*/
/*  Previous/Next Buttons          /
/*--------------------------------*/

.prev-next-container:before {
	background-color: rgba(0,0,0,0.1);
	content: ' ';
	display: block;
	height: 2px;
	margin: 0 auto 2em auto;
	width: 4em;
}

.prev-next-container {
	margin-top: 1em;
	width: 53%;
}

.prev-post {
	float: left;
	max-width: 40%;
}

.next-post {
	max-width: 40%
}

.next-post, .next-post > .pn-post-header {
	float: right;
	text-align: right;
}

.pn-post-header {
	color: rgba(0,0,0,0.8);
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8em;
	font-weight: 700;
	text-transform: uppercase;
}

.pn-post-title {
	border: none;
	font-size: 1.1em;
	font-style: normal;
	text-transform: capitalize;
}

/*--------------------------------*/
/*  Content                        /
/*--------------------------------*/

#post-wrap {
	-ms-flex-line-pack: center;
	    align-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 8em;
	width: 100%;
}

.hero-image {
	display: block;
	margin: 1em 0;
	width: 70%;
}

h1 {
	color: rgba(0,0,0,0.8);
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.6em;
	font-weight: 600;
	line-height: 0.97em;
	margin: 100px 0 0.1em 0;
	padding: 0;
	text-align: center;
	width: 50%;
}

.post-details {
	color: rgba(0,0,0,0.6);
	display: block;
	font-weight: 400;
	padding: 0.5em;
	text-align: center;
}

.post-details > span > a{
	border: none;
	color: rgba(0,0,0,0.6);
	font-style: normal;
}

.post-details:before, .post-details:after {
	background-color: rgba(0,0,0,0.1);
	content: ' ';
	display: block;
	height: 2px;
	margin: 0.5em auto;
	width: 4em;
}


/*--------------------------------*/
/*  Paragraphs, Images & Code      /
/*--------------------------------*/

#post-wrap > p, ul, ol {
	line-height: 1.5em;
	margin: 0 0 1em 0;
	width: 53%;
}

p > img, img {
	border-radius: 3px;
	display: block;
	margin: 1em auto;
	max-width: 100%;
}

.full-bleed{
 	border-radius: 3px;
 	margin-left: -16%;
 	max-width: none;
 	width: 132%;
}

.full-bleed, pre {
	margin: 0;
	width: 70%;
}

/*--------------------------------*/
/*  Highlight.js Styling           /
/*--------------------------------*/

code {
	border-radius: 4px;
	font-size: 1.3em !important;
	margin-bottom: 1em;
	padding: 15px !important;
}

/*--------------------------------*/
/*  Disqus Styling                 /
/*--------------------------------*/

#disqus_thread {
	margin-top: 3em;
	width: 53%;
}

/*--------------------------------*/
/*  Quotes                         /
/*--------------------------------*/

.quote {
	width: 53%;
}

.quote > h2 {
	border-left: 5px solid rgba(0,0,0,0.2);
	font-size: 2.3em;
	font-weight: 400;
	line-height: 1.2em;
	padding-left: 20px;
	text-align: left;
	width: 100%;
}

.quote-details {
	color: rgba(0,0,0,0.6);
	display: block;
	margin-left: 0.5em;
	margin: 1em 0;
	padding-left: 20px;
	text-align: left;
}

.quote-details > a {
	color: rgba(0,0,0,0.6);
}

.quote-auth {
	color: rgba(0,0,0,0.6);
	display: block;
	font-style: italic;
}

.quote-auth:before {
	content: '~';
}

/*--------------------------------*/
/*  Embedded Content               /
/*--------------------------------*/

iframe {
	border-radius: 3px;
	min-height: 400px;
	width: 70%;
}

.gist {
	width: 70%;
}

/*--------------------------------*/
/*  Blockquotes                    /
/*--------------------------------*/

blockquote {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0 0 1em 0;
	width: 53%;
}

blockquote > p {
	background-color: rgba(0,0,0,0.02);
	border-left: 3px solid rgba(0,0,0,0.1);
	line-height: 1.5em;
	margin: 0;
	padding: 1em;
}

/*--------------------------------*/
/*  Tables                         /
/*--------------------------------*/

table {
	border-collapse: separate;
	border-radius: 3px;
	border-spacing: 0;
	border: 2px solid rgba(0,0,0,0.2);
	margin: 1em 0;
	width: 70%;
}

thead {
	background-color: rgba(0,0,0,0.07);
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8em;
	text-transform: uppercase;
}

td, th{
	border-bottom: 2px solid rgba(0,0,0,0.1);
	border-right: 2px solid rgba(0,0,0,0.1);
	padding: 10px
}

td:last-child, th:last-child {
	border-right: none;
}


tr:last-child > td{
	border-bottom: none;
}

tr:nth-child(2n) {
	background-color: rgba(0,0,0,0.03);
}

/*--------------------------------*/
/*  Headings                       /
/*--------------------------------*/

h2, h3, h4, h5, h6 {
	color: rgba(0,0,0,0.8);
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0.3em;
	text-align: left;
	width: 53%;
}

/*--------------------------------*/
/*  Optimization for Mobiles      */
/*--------------------------------*/

@media all and (max-width: 800px) {

	h1{
		width: 70%;
	}

	h2, h3, h4, h5, h6 {
		width: 70%
	}

    #post-wrap > p, ul, ol {
    	width: 70%;
    }

    .hero-image, pre, iframe, .gist {
    	width: 90%;
    }

    #post-nav, #series-container, blockquote, #disqus_thread, .quote {
    	width: 70%;
    }

    .full-bleed {
    	margin-left: -14.28571%;
    	width: 128.5714%;
    }

    .read-more {
    	border-radius: 3px;
    	border: 2px solid rgba(0,0,0,0.8);
    	display: block;
    	font-family: 'Montserrat', sans-serif;
    	font-size: 0.8em;
    	font-style: normal;
    	font-weight: 700;
    	margin: 1em auto;
    	padding: 5px;
    	text-align: center;
    	text-transform: uppercase;
    	width: 8em;
    }

    table {
    	-ms-flex-item-align: start;
    	    align-self: flex-start;
    	margin-left: 5%;
    	margin: 1em;
    	width: 90%;
    }

    .post-tags {
    	max-width: 70%;
    }

    .prev-next-container {
    	width: 70%;
    }

}

@media all and (max-width: 500px) {
	h1{
		width: 85%;
		font-size: 2em;
	}

	.post-details {
		width: 90%;
	}

	h2, h3, h4, h5, h6 {
		width: 85%
	}

    #post-wrap > p, ul, ol, .quote {
    	width: 85%;
    }

    .quote > h2 {
    	font-size: 2em;
    	max-width: 90%;
    }

    .hero-image, pre, iframe, .gist {
    	border-radius: 0;
    	width: 100%;
    }

    #disqus_thread {
    	width: 85%;
    }

    #post-nav, #series-container, blockquote {
    	width: 85%;
    }

    .full-bleed {
   		border-radius: 0;
   		width: 117.6471%;
    	margin-left: -8.82%;
    }

    code {
    	border-radius: 0;
    }

    table {
    	margin-left: 7.5%;
    }

    .post-tags {
    	max-width: 85%
    }

    .prev-next-container {
    	width: 85%;
    }

}