.project-list {
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 0 2px rgba(0,0,0,0.1);
	        box-shadow: inset 0 0 0 2px rgba(0,0,0,0.1);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin: 10px 0; 
	max-width: 1400px;
	min-height: 400px;
}

.project-details {
	background-color: rgba(0,0,0,0.6);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px; 
	-webkit-box-sizing: border-box; 
	        box-sizing: border-box;
	padding: 20px;
	width: 100%;
}

.project-list-heading {
	color: rgba(255,255,255,1) !important;
	display: inline-block;
	font-weight: 700;
	font: 16px 'Bitter',serif;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.project-list-blurb {
	color: #fff;
	display: inline-block;
	line-height: 1.5em;
	padding: 0;
	text-align: left;
}

.project-list-readmore {
	-ms-flex-item-align: start;
	    align-self: flex-start;
	border-bottom: 2px solid rgba(0,0,0,0);
	display: inline-block;
	font-weight: 700;
	font: 14px 'Bitter', serif;
	margin-top: 10px;
	text-transform: uppercase;
	-webkit-transition: all 0.05s linear;
	transition: all 0.05s linear;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.list-nav-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	font: 13px "Bitter", serif;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.list-button {
	border-radius: 3px;
	border: 2px solid #12b076;
	display: block;
	font-weight: 700;
	padding: 10px;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.list-button:hover {
	background-color: #12b076;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: #fff;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.list-button:active {
	background-color: #12b076;
	-webkit-box-shadow: 0px 3px 8px rgba(0,0,0,0.4);
	        box-shadow: 0px 3px 8px rgba(0,0,0,0.4);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: #fff;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.lb-next {
	margin-left: auto;
}

@media all and (max-width: 585px) {
    
.project-details{
	text-align: center;
}

.project-list-heading {
	border-radius: 3px;
	padding: 10px;
}

.project-list-readmore {
	border-radius: 3px;
	border: 2px solid rgba(255,255,255,0.2);
	padding: 10px;
}

.project-list-readmore:hover {
	background-color: #fff;
	border-radius: 3px;
	border: 2px solid rgba(255,255,255,0.8);
	padding: 10px;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.project-list-readmore:active {
	color: rgba(0,0,0,0.8);
}

}

@media all and (min-width: 586px) {
    
.project-details {
	padding: 20px 20%;
}

.project-list-readmore:hover {
	background-color: rgba(0,0,0,0);
	border-bottom: 2px solid white;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

}