$mediaMinWidth: 1220px
$mediaMaxWidth: 1221px

//all credits to Dmitry Sheiko
@function translate-media-condition($c)
  $condMap: ( ">maxWidth": "(min-width: #{$mediaMaxWidth + 1})", "<maxWidth": "(max-width: #{$mediaMaxWidth})", ">minWidth": "(min-width: #{$mediaMinWidth + 1})", "<minWidth": "(max-width: #{$mediaMinWidth})")
  @return map-get( $condMap, $c )

// The media mixin
@mixin media($args...) 
    $query: ""
    @each $arg in $args 
        $op: ""
        @if ( $query != "" )
            $op: " and "
        $query: $query + $op + translate-media-condition($arg)
        @debug translate-media-condition("<minWidth")
    
    @media #{$query}
        @content

body 
    background-color: rgba(0,0,0,0.85)
    font-family: 'Fira Mono'
    margin: 0
    padding: 0

    @include media("<minWidth")
        box-sizing: border-box
        width: 100% 

h1
    display: block
    border: 2px solid white 
    width: 3em
    height: 3em
    padding: 0
    margin: 0
    margin-left: 2em
    margin-top: 2em
    position: relative

    i
        font-family: 'Roboto Slab'
        font-style: normal !important
        display: inline
        position: absolute
        bottom: 0
        left: 0
        color: white
        font-weight: 400
        padding: 0.45em 0.6em

main
    color: #ffffffbb
    position: relative
    
    nav
        display: block
        padding-left: 5.2em
        margin-top: 0.5em

        a
            color: #ffffff99
            text-decoration: none
            margin-right: 1.5em
            text-decoration: underline
            text-decoration-style: dotted
            transition: color 0.1s ease-in-out

            &:hover
                color: #ffffffff

    p.intro
        position: absolute
        display: block
        padding-left: 4.8em
        font-size: 1.1em
        line-height: 2em

        @include media("<minWidth")
            max-width: 60%

        span.cursor
            background-color: white
            display: inline-block
            width: 0.65em
            height: 1.25em
            vertical-align: middle
            animation: 0.75s blink step-end infinite
    
    p.intro.shadow                  //This is to ensure there is enough space for the element
        padding-left: 4.8em           //It prevents reflows (hopefully)
        font-size: 1.1em
        padding-top: 1em
        line-height: 2em 
        position: relative
        display: block
        opacity: 0

@keyframes blink
    from, to
        opacity: 0
    50%
        opacity: 100%


article.project
    display: flex
    position: relative
    flex-direction: row
    flex-wrap: wrap
    margin: 0
    width: 100%
    background-color: #00fdd6
    padding: 6em
    box-sizing: border-box
   
    &:first-of-type
        margin-top: 5em

    &:nth-child(even)
        flex-direction: row-reverse

    @include media("<minWidth")
        padding: 0
        flex-direction: row
        align-content: center
        justify-content: center
        padding-bottom: 3em
    
    .image-shower
        position: relative
        text-align: center
        padding: 0 3em
        width: 25em
        height: 25em
        display: inline-block

        transition: all 0.1s ease-in-out

        @include media("<minWidth")
            padding: 0
            margin-top: 1em
        
        img
            max-width: 25em
            position: absolute
            top: 0
            left: 0
            width: 25em
            height: 25em

        img.shadow
            position: absolute
            top: 0
            left: 0
            opacity: 0
            width: 25em
            height: 25em
            transition: opacity 0.07s ease-in-out
        
        img.shadow.shown
            opacity: 1 !important

        //These allow the image to change when hovered on
        &:hover .shadow
            opacity: 1
 
    div.description
        flex-grow: 1
        display: inline-flex
        justify-content: center
        flex-direction: column  
        max-width: 100%
        box-sizing: border-box

        @include media("<minWidth")
            padding: 1em 4em

        h2 
            margin: 0
            font-size: 1.2em
            display: block
            word-wrap: break-word
            text-transform: uppercase
            font-family: 'Open Sans Condensed', sans-serif
            
            @include media("<minWidth")
                text-align: center
        
        span.text
            margin-top: 1em
            display: block

        span.links
            margin-top: 1em
            display: block

            @include media("<minWidth")
                display: flex
                flex-direction: row
                flex-wrap: wrap
                margin-left: -0.5em
                width: calc(100% + 0.5em)

            a
                display: inline-block
                height: 3.3em
                padding: 1em 1em 1em 3.5em
                vertical-align: top
                background-color: #00000030
                border-radius: 3px
                text-decoration: none
                color: #000000fb
                box-sizing: border-box
                position: relative
                transition: all 0.1s ease-in-out
                margin-bottom: 1em

                @include media("<minWidth")
                    flex-grow: 1
                    margin: 0.5em 0.5em

                &.disabled
                    opacity: 0.3
                    pointer-events: none

                &:hover
                    transform: translateY(-4px)
                    box-shadow: 0 4px 0 #00000030
                    background-color: #00000020

                i
                    position: absolute
                    left: 0.7em
                    top: 0.55em

article.skills
    color: #ffffffee
    padding: 4em
    display: flex
    flex-direction: row
    flex-wrap: wrap

    h2
        font-family: 'Open Sans Condensed', sans-serif
        text-transform: uppercase 
        width: 100%

.skill
    display: inline-block
    position: relative
    background-color: #ffffff
    padding: 0.75em 1em
    text-align: center
    overflow: hidden
    border-radius: 10px
    flex-grow: 1
    margin: 0 1em 1em 0

    .bar
        display: block
        background-color: red
        position: absolute
        transition: width 1s ease-in-out
        width: 1px
        height: 5em
        content: ' '
        left: 0
        top: 0
        z-index: 5

    .name
        position: relative
        z-index: 100

//image preloading
img.neutrino.shadow
    content: url("../img/neutrinomaxlogo.png") !important
img.proto.shadow
    content: url("../img/protomaxlogo.png") !important
img.medkit.shadow
    content: url("../img/medkitmaxlogo.png") !important
img.convert.shadow
    content: url("../img/convertmaxlogo.png") !important