
    
body 
    background-color: rgba(0,0,0,0.85)
    font-family: 'Fira Mono'
    padding: 5em
    margin: 0

h1
    display: block
    border: 2px solid white 
    width: 3em
    height: 3em
    padding: 0
    margin: 0
    position: relative

    i
        font-family: 'Roboto Slab'
        font-style: normal !important
        display: inline
        position: absolute
        bottom: 0
        left: 0
        color: white
        font-weight: 400
        padding: 0.45em 0.6em

main
    color: #ffffffbb
    position: relative
    
    nav
        display: inline-block
        padding-left: 1.2em
        margin-top: 0.5em

        a
            color: #ffffff99
            text-decoration: none
            margin-right: 1.5em
            text-decoration: underline
            text-decoration-style: dotted
            transition: color 0.1s ease-in-out

            &:hover
                color: #ffffffff

    p.intro
        position: absolute
        display: block
        padding-left: 1.2em
        font-size: 1.1em
        line-height: 2em
        height: 9.5em

        span.cursor
            background-color: white
            display: inline-block
            width: 0.65em
            height: 1.25em
            vertical-align: middle
            animation: 0.75s blink step-end infinite
    
    p.intro.shadow                  //This is to ensure there is enough space for the element
        padding-left: 1.2em           //It prevents reflows (hopefully)
        font-size: 1.1em
        padding-top: 1em
        line-height: 2em
        height: 9.5em 
        position: relative
        display: block
        opacity: 0


article
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin-left: -5em
    width: calc(100% + 10em)
    background-color: #00fdd6
    padding: 6em
    box-sizing: border-box
   
    &:first-of-type
        margin-top: 5em
    
    img
        flex-grow: 1
        text-align: center
        padding: 0 10em
        width: 20em
        transition: all 0.1s ease-in-out
    
    img.shadow
        width: 1px !important
        height: 1px !important
        padding: 0
        opacity: 0.01
        display: block
        box-sizing: border-box

    img.neutrino 
        content: url("../img/neutrinominlogo.png")

    &:hover img.neutrino
        content: url("../img/neutrinomaxlogo.png")

    img.proto
        content: url("../img/protominlogo.png")

    &:hover img.proto
        content: url("../img/protomaxlogo.png")

    img.medkit
        content: url("../img/medkitminlogo.png")

    &:hover img.medkit
        content: url("../img/medkitmaxlogo.png")

    img.convert
        content: url("../img/convertminlogo.png")

    &:hover img.convert
        content: url("../img/convertmaxlogo.png")
 
    div.description
        flex-grow: 1
        display: inline-flex
        justify-content: center
        flex-direction: column
        
        h2 
            margin: 0
            padding: 0
            font-size: 1em
            //text-transform: uppercase
            font-family: 'Roboto slab', sans-serif
        
        span.text
            margin-top: 1em
            display: block

        span.links
            margin-top: 1em
            display: block

            a
                display: inline-block
                height: 3.3em
                padding: 1em 1em 1em 3.5em
                vertical-align: top
                background-color: #00000030
                border-radius: 3px
                text-decoration: none
                color: #000000fb
                box-sizing: border-box
                position: relative
                transition: all 0.1s ease-in-out

                &.disabled
                    opacity: 0.3
                    pointer-events: none

                &:hover
                    transform: translateY(-4px)
                    box-shadow: 0 4px 0 #00000030
                    background-color: #00000020

                i
                    position: absolute
                    left: 0.7em
                    top: 0.55em

                    

@keyframes blink
    from, to
        opacity: 0
    50%
        opacity: 100%

//image preloading
img.neutrino.shadow
    content: url("../img/neutrinomaxlogo.png")
img.proto.shadow
    content: url("../img/protomaxlogo.png")
img.medkit.shadow
    content: url("../img/medkitmaxlogo.png")
img.convert.shadow
    content: url("../img/convertmaxlogo.png")
